*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
    background-image: url('./assets/cold-bg.jpg');
    background-size: cover;
    background-position: bottom center;

    transition: 0.4s ease-out;
}
.App.warm{
    background-image: url('./assets/warm-bg.jpg');
}


main{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, 7));
    padding: 0 2rem 0 2rem;
}

.searchBox {
    width: 100%;
    margin-bottom: 3rem;
}

.searchBar {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: none;
    padding: .7rem 1.5rem;
    outline: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 0 0 10px 10px;

    columns: #313131;
    transition: .4s ease;
}

.searchBar:focus{
    background-color: rgba(255, 255, 255, 1);
}

.locationBox__location, .weatherBox__temp, .weatherBox__weather{
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0px 3px rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
}

.locationBox__date {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0px 2px rgba(0, 0, 0, .5);
}
.weatherBox__temp{
    font-size: 3rem;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
}

.weatherBox__weather{
    font-style: italic;
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: min-content;
    margin: 0 auto;
    padding: 1rem;
    vertical-align: middle;
    border-radius: 5px;
}
